<ion-view title="Home">
     <ion-content overflow-scroll="true" padding="true" class="has-header">
     	<h4 style="text-align:center">Follow Me!</h4>
        <ion-list>
            <ion-item href="#" onclick="window.open('https://twitter.com/zullmara', '_system', 'location=yes'); return false;">Twitter</ion-item>
            <ion-item href="#" onclick="window.open('https://www.facebook.com/abdullah.mara.elif', '_system', 'location=yes'); return false;">Facebook</ion-item>
            <ion-item href="#" onclick="window.open('https://github.com/iltegin', '_system', 'location=yes'); return false;">Github</ion-item>
        </ion-list>
    </ion-content>
</ion-view>